h1, h2 {
  font-size: 4em;
  background-color: grey;
}
h3 {
  font-size: 2em;
  background-color: whitesmoke;
  box-shadow: 10px 5px 5px black;
  margin: .1em;
}

img {
  width: 200px;
  height: 200px;
}

ul {
  font-size: 2em;
}

li {
  margin-left: 5em;
}

#images {
  display: inline;
}