* {
  background-color: aquamarine;
}


#left-image {
  background-color: green;
}

h1, h2 {
  font-size: 4em;
  background-color: grey;
}

img {
  width: 200px;
  height: 200px;
}

ul {
  font-size: 2em;
}

#images {
  display: inline;
}